.Post__header {
    display: flex;
}

.Post__header_input {
    flex: 1;
}

// .Post__header div{
//     border:1px solid yellow;
// }
.Post__animated_text_container {
    height: 20px;
    width: 100px;
    border: 1px solid yellow;
}

#Post__animated_post_text_container {
    position: absolute;
    margin-top: 7px;
    margin-left: 13px;
}

#Post__animated_post_text_container span {
    color: red;
    transition: all 0.2s;
}

.post_animTargetContainer {
    height: 30px;
    width: 200px;
    border: 2px solid violet;
}